[Unit]
Description=Script to automatically connect to a WPA2 network with details configured by the ./configure script in the TechRescue package.

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/customwifi

[Install]
WantedBy=multi-user.target
